# PROBLEM SET 2

# QUESTION 1

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [64]:
a = 0
def b():
  global a
  a = c(a)
  return a
def c(a):
  return a + 2

b()
b()
b()

print(a)

6

In the above program, a is defined as global variable inside the b() function.
when we execute the b() function it calls another function defined as c(a) inwhich the 'a' value is incremented by 2 for every execution.
Hence the value of 'a' after 3 times b() function is 6.

# QUESTION 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:

In [65]:
def file_length(filename): 
    try:         
        file = open(filename,"r")
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print("File " +filename+ " not found. ")
  
file_length("C:\\Users\\msang\\OneDrive\\Desktop\\python programs\\bloodtype.txt")
file_length("C:\\Users\\msang\\OneDrive\\Desktop\\python programs\\blood.txt")

611
File C:\Users\msang\OneDrive\Desktop\python programs\blood.txt not found.

# QUESTION 3

Write a class named Marsupial that can be used as shown below:

In [66]:
class Marsucipial: 
    
    def __init__(self):
        self.m = []
        
    def put_in_pouch(self, m): 
        self.m.append(m) 
        
    def pouch_contents(self):  
        print (self.m)

m = Marsucipial() 
m.put_in_pouch('Doll')
m.put_in_pouch('Firetruck')
m.put_in_pouch('Kitten')
m.pouch_contents()

class Kangaroo(Marsucipial):
    
    def __init__(self,x,y):
        Marsucipial.__init__(self)
        self.x = x
        self.y = y
        
    def jump(self,x1,y1):  
        self.x = self.x+x1
        self.y = self.y+y1 
        
    def __str__(self): 
        return "I am a kangaroo located at coordinates ({},{})".format(self.x, self.y)

['Doll', 'Firetruck', 'Kitten']

In [67]:
k = Kangaroo(0,0) 
print(k)

I am a kangaroo located at coordinates (0,0)

In [68]:
k.put_in_pouch('Doll') 
k.put_in_pouch('Firetruck')
k.put_in_pouch('Kitten')
k.pouch_contents()

['Doll', 'Firetruck', 'Kitten']

In [69]:
k.jump(1,0) 
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (3,0)

# QUESTION 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.

In [70]:
def collatz(x):
     if x <= 1:
        return x
     elif (x % 2) == 0:
        x = x//2
        recursive = x
        print (x)
        collatz(recursive)
     else:
        x = ((3*x)+1)
        recursive = x
        print(x) 
        collatz(recursive)
def value(x):  
    print (x)
    
          
value(10)
collatz(10)

10
5
16
8
4
2
1

# QUESTION 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [71]:
def binary(x):  
    if x<=-1:
        print('Blastoff')
    else: 
        print(format(x,"b"))
        
binary(9)

1001

# QUESTION 6

Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser. When fed a string containing HTML code, your class should 
print the headings, one per line and in the order in which they appear in the 
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.

In [72]:
infile = open("C:\\Users\\msang\\OneDrive\\Desktop\\DATA PROGRAMMING\\a\\w3c1.html", "r")
content = infile.read()
infile.close()

from html.parser import HTMLParser
class Heading_Parser(HTMLParser):
    def handle_starttag(self, tag, attrs): 
        
        if tag == 'h1':
            for attr in attrs:
                if attr[1] == 'href':
                    print (attr[0])
Parser = Heading_Parser()
Parser.feed(content)

# QUESTION 7

Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL.

In [3]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    'collects hyperlink URLs into a list'
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
    def getLinks(self):
        return self.links
    
def analyze(url):
    resource = urlopen(url)
    content = resource.read().decode()
    collector = Collector(url)
    collector.feed(content)
    collect = collector.getLinks()  
    return collect

visited = set()
def webdir(url,depth,indent):
    global visited     
    visited.add(url) 
    links = analyze(url)
    for link in links:
        if link not in visited:
            try:
                webdir(link)
            except:
                print(link)

webdir('http://reed.cs.depaul.edu/lperkovic/one.html', 1, 0)

http://reed.cs.depaul.edu/lperkovic/two.html
http://reed.cs.depaul.edu/lperkovic/three.html

# QUESTION 8

Write SQL queries on the below database table that return:

In [45]:
import sqlite3
con = sqlite3.connect('data.db')
cur = con.cursor()
cur.execute("CREATE table Temperature(City text, Country text, Season text, Temperatur float, Rainfall float)")
cur.execute("INSERT INTO Temperature VALUES('Mumbai','India','Winter','24.8','5.9')")
cur.execute("INSERT INTO Temperature VALUES('Mumbai','India','Spring','28.4','16.2')")
cur.execute("INSERT INTO Temperature VALUES('Mumbai','India','Summer','27.9','1549.4')")
cur.execute("INSERT INTO Temperature VALUES('Mumbai','India','Fall','27.6','346.0')")
cur.execute("INSERT INTO Temperature VALUES('London','United Kingdom','Winter','4.2','207.7')")
cur.execute("INSERT INTO Temperature VALUES('London','United Kingdom','Spring','8.3','169.6')")
cur.execute("INSERT INTO Temperature VALUES('London','United Kingdom','Summer','15.7','157.0')")
cur.execute("INSERT INTO Temperature VALUES('London','United Kingdom','Fall','10.4','218.5')")
cur.execute("INSERT INTO Temperature VALUES('Cairo','Egypt','Winter','13.6','16.5')")
cur.execute("INSERT INTO Temperature VALUES('Cairo','Egypt','Spring','20.7','6.5')")
cur.execute("INSERT INTO Temperature VALUES('Cairo','Egypt','Summer','27.7','0.1')")
cur.execute("INSERT INTO Temperature VALUES('Cairo','Egypt','Fall','22.2','4.5')")
con.commit()

# QUESTION 8A 

(All the temperature data)

In [73]:
cur.execute("SELECT Temperatur FROM Temperature")
print(cur.fetchall())
con.commit()

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

# QUESTION 8B 

(All the cities, but without repetition)

In [74]:
cur.execute("SELECT Distinct City FROM Temperature")
print(cur.fetchall())
con.commit()

[('Mumbai',), ('London',), ('Cairo',)]

# QUESTION 8C 

(All the records for India)

In [49]:
cur.execute("SELECT * FROM Temperature WHERE Country = 'India' ")
print(cur.fetchall())
con.commit()

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# QUESTION 8D

(All the Fall records)

In [75]:
cur.execute("SELECT * FROM Temperature WHERE Season = 'Fall' ")
print(cur.fetchall())
con.commit()

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# QUESTION 8E

(The city, country, and season for which the average rainfall is between 200 and 400 millimeters)

In [76]:
cur.execute("SELECT City, Country, Season FROM Temperature WHERE Rainfall BETWEEN 200 AND 400 ")
print(cur.fetchall())
con.commit()

[('Mumbai', 'India', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

# QUESTION 8F 

(The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order)

In [77]:
cur.execute("SELECT City, Country FROM Temperature WHERE Season = 'Fall' AND Temperatur>20 ORDER BY Temperatur ")
print(cur.fetchall())
con.commit()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

# QUESTION 8G 

(The total annual rainfall for Cairo)

In [53]:
cur.execute("SELECT SUM(Rainfall) FROM Temperature WHERE City = 'Cairo' ")
print(cur.fetchall())
con.commit()

[(27.6,)]

# QUESTION 8H 

(The total rainfall for each season)

In [54]:
cur.execute("SELECT SUM(Rainfall) FROM Temperature WHERE Season = 'Winter' ")
print(cur.fetchall())
cur.execute("SELECT SUM(Rainfall) FROM Temperature WHERE Season = 'Spring' ")
print(cur.fetchall())
cur.execute("SELECT SUM(Rainfall) FROM Temperature WHERE Season = 'Summer' ")
print(cur.fetchall())
cur.execute("SELECT SUM(Rainfall) FROM Temperature WHERE Season = 'Fall' ")
print(cur.fetchall())
con.commit()

[(230.1,)]
[(192.29999999999998,)]
[(1706.5,)]
[(569.0,)]

# QUESTION 9A 

(Upper case)

In [42]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newwords = [x.upper() for x in words]
print (newwords)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# QUESTION 9B 

(Lower case)

In [41]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newwords = [x.lower() for x in words]
print (newwords)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# QUESTION 9C 

(The list of lengths of words in list words)

In [40]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newwords = []
for i in words:
        newwords.append(len(i))
print (newwords)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# QUESTION 9D 

(The list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word)

In [39]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newwords = []
newlist = []
n1 = [x.upper() for x in words]
n2 = [x.lower() for x in words]
for i in range(len(words)):
        newwords.append (n1[i])
        newwords.append (n2[i])
        newwords.append (len(n1[i]))
        newlist.append(newwords)
        newwords=[]
print (newlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

# QUESTION 9E 

(The list of words in list words containing 4 or more characters)

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newwords = []
for i in words:
    if len(i)>=4:
        newwords.append(i)  
print (newwords)

['quick', 'brown', 'jumps', 'over', 'lazy']